@import "tailwindcss";
.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trên Chrome, Safari */
}
.scrollbar-hidden {
    -ms-overflow-style: none;  /* Ẩn trên IE/Edge */
    scrollbar-width: none;  /* Ẩn trên Firefox */
}